@import "../variables/__allHeader";

.faste-nav{
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 6vh;
    background-color: $navBg;
    padding: 10px;
    .nav-container{
        display: flex;
        flex-direction: row;
        width: 2fr;
        height: 100%;
        .nav-item a{
            padding: 15px;
            text-decoration: none;
            color: $navLinksColr;
        }
    }
}